.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#003459 0,#003459 100%) !important; 
    position: fixed;
    /* override background image gradient w/ flat color */
}
.dropdown-item:hover{
    background-color: #003459;
    color: rgba(255,255,255,.5);
}
nav {
  max-width: 1250px;
  margin: auto;
}