.signupLoginContainer {
    margin: auto;
    width: 50%;
}

.signupLoginContainer h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #003459;
}

.login {
    float: right;
    margin-right: 0.5rem;
}

.signup {
    float: right;
    margin-left: 0.5rem;
    margin-right: 0;
    background-color: #003459 !important;
}

.logout {
    margin: auto;
    margin-top: 3rem;
    width: 50%;
}

.logout p {
    margin-left: 1rem;
}

.logout button {
    margin: auto;
    width: 100%;
    background-color: hotpink;
}

.dropdown button {
    margin: auto;
    width: 100%;
}

.show {
    margin: auto;
    width: 100%;
}